body {
    margin: 0;
    font-family: Merriweather, serif;
    display: grid;
    grid-template-rows: auto 1fr auto; 
    min-height: 100vh; 
}

.header {
    background-color: #d1e8bf;
    font-family: Merriweather, serif;
    color: #000000;
    padding: 20px;
    grid-row: 1; 
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    margin: 0;
    font-size: 45px;
    font-family: Merriweather, serif;

}

.footer {
    background-color: #d1e8bf;
    color: #000000;
    text-align: center;
    grid-row: 3; 
    font-size: 18px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 100px; 
}

.square {
    position: relative; 
    width: 527px; 
    height: 326px; 
    background-color: #d1e8bf; 
    border: 2px solid #5e6938; 
    border-radius: 20px; 
    margin: 40px; 
    text-align: center;
    padding-top: 70px;
}

.square-title {
    position: absolute; 
    top: -70px; 
    left: 50%; 
    transform: translateX(-50%); 
    font-size: 50px; 
}

.square-description {
    font-size: 39px; 
    position: absolute; 
    bottom: 135px;
    left: 50%;
    transform: translateX(-50%); 
    width: 90%; 
}

.button {
    position: absolute;
    bottom: 20px;
    left: 50%; 
    transform: translateX(-50%); 
    background-color: #ffffff; 
    border: 2px solid #5e6938; 
    border-radius: 35px; 
    padding: 10px 20px; 
    cursor: pointer; 
    font-size: 25px;
}

.button:hover {
    background-color: #5e6938;
    border: 2px solid #ffffff; 
    color: white;
}