.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1500px; 
    margin: 50px auto; 
    cursor: pointer;
}

.square {
    position: relative; 
    width: 416px;
    height: 75px;
    background-color: #d1e8bf; 
    border: 2px solid #5e6938;
    border-radius: 10px; 
    margin-bottom: 7px; 
}

.square-word {
    position: absolute; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    font-size: 45px;
    color: black; 
}

.start-button {
    position: absolute;
    top: 110px;
    right: 50px;
    padding: 10px 20px;
    font-size: 20px;
    background-color: #d1e8bf;
    border: 2px solid #5e6938;
    border-radius: 10px;
    cursor: pointer;
}

.start-button:hover {
    background-color: #a5b95d;
}