.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1500px; 
    margin: 50px auto; 
    cursor: pointer;
}

.square {
    position: relative;
    width: 416px; 
    height: 314px; 
    background-color: #d1e8bf; 
    border: 2px solid #5e6938; 
    border-radius: 10px; 
    margin-bottom: 7px; 
}

.square-line {
    position: absolute;
    top: 20%; 
    left: 50px;
    width: calc(100% - 100px);
    height: 1px; 
    background-color: black;
}

.square-letter {
    position: absolute; 
    top: 5%; 
    left: 50%; 
    transform: translateX(-50%); 
    font-size: 43px; 
    color: black; 
}

.start-button {
    position: absolute;
    top: 110px;
    right: 50px;
    padding: 10px 20px;
    font-size: 20px;
    background-color: #d1e8bf;
    border: 2px solid #5e6938;
    border-radius: 10px;
    cursor: pointer;
}

.start-button:hover {
    background-color: #a5b95d;
}

.square-alt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: black;
    text-align: center;
    opacity: 0.7;
}

.square-image-A {
    width: 115%; 
    height: auto; 
    border-radius: 10px;
    position: relative; 
    top: 27px; 
    left: -31px;
    clip-path: inset(0 20% 0 20%);
}

.square-image-B {
    width: 115%; 
    height: auto; 
    border-radius: 10px;
    position: relative; 
    top: 27px; 
    left: -31px;
    clip-path: inset(0 20% 0 20%);
}

.square-image-C {
    width: 115%; 
    height: auto; 
    border-radius: 10px;
    position: relative; 
    top: 27px; 
    left: -31px;
    clip-path: inset(0 20% 0 20%);
}

.square-image-D {
    width: 115%; 
    height: auto; 
    border-radius: 10px;
    position: relative; 
    top: 27px; 
    left: -31px;
    clip-path: inset(0 20% 0 20%);
}
.square-image-E {
    width: 115%; 
    height: auto; 
    border-radius: 10px;
    position: relative; 
    top: 27px; 
    left: -31px;
    clip-path: inset(0 20% 0 20%);
}

.square-image-F {
    width: 115%; 
    height: auto; 
    border-radius: 10px;
    position: relative; 
    top: 27px; 
    left: -31px;
    clip-path: inset(0 20% 0 20%);
}
.square-image-G {
    width: 115%; 
    height: auto; 
    border-radius: 10px;
    position: relative; 
    top: 27px; 
    left: 40px;
    clip-path: inset(0 34% 0 5%);
}

.square-image-H {
    width: 115%; 
    height: auto; 
    border-radius: 10px;
    position: relative; 
    top: 27px; 
    left: 50px;
    clip-path: inset(0 36% 0 3%);
}
.square-image-I {
    width: 115%; 
    height: auto; 
    border-radius: 10px;
    position: relative; 
    top: 27px; 
    left: -31px;
    clip-path: inset(0 20% 0 20%);
}

.square-image-J {
    width: 115%; 
    height: auto; 
    border-radius: 10px;
    position: relative; 
    top: 27px; 
    left: 17px;
    clip-path: inset(0 30% 0 10%);
}

.square-image-K {
    width: 115%; 
    height: auto; 
    border-radius: 10px;
    position: relative; 
    top: 27px; 
    left: -31px;
    clip-path: inset(0 20% 0 20%);
}
.square-image-L {
    width: 115%; 
    height: auto; 
    border-radius: 10px;
    position: relative; 
    top: 27px; 
    left: -31px;
    clip-path: inset(0 20% 0 20%);
}
.square-image-M {
    width: 115%; 
    height: auto; 
    border-radius: 10px;
    position: relative; 
    top: 27px; 
    left: -31px;
    clip-path: inset(0 20% 0 20%);
}
.square-image-N {
    width: 115%; 
    height: auto; 
    border-radius: 10px;
    position: relative; 
    top: 27px; 
    left: -31px;
    clip-path: inset(0 20% 0 20%);
}
.square-image-O {
    width: 115%; 
    height: auto; 
    border-radius: 10px;
    position: relative; 
    top: 27px; 
    left: -31px;
    clip-path: inset(0 20% 0 20%);
}
.square-image-P {
    width: 115%; 
    height: auto; 
    border-radius: 10px;
    position: relative; 
    top: 27px; 
    left: 17px;
    clip-path: inset(0 30% 0 10%);
}
.square-image-Q {
    width: 115%; 
    height: auto; 
    border-radius: 10px;
    position: relative; 
    top: 27px; 
    left: 15px;
    clip-path: inset(0 30% 0 15%);
}
.square-image-R {
    width: 115%; 
    height: auto; 
    border-radius: 10px;
    position: relative; 
    top: 27px; 
    left: -31px;
    clip-path: inset(0 20% 0 20%);
}
.square-image-S {
    width: 115%; 
    height: auto; 
    border-radius: 10px;
    position: relative; 
    top: 27px; 
    left: -31px;
    clip-path: inset(0 20% 0 20%);
}
.square-image-T {
    width: 115%; 
    height: auto; 
    border-radius: 10px;
    position: relative; 
    top: 27px; 
    left: -31px;
    clip-path: inset(0 20% 0 20%);
}
.square-image-U {
    width: 115%; 
    height: auto; 
    border-radius: 10px;
    position: relative; 
    top: 27px; 
    left: -31px;
    clip-path: inset(0 20% 0 20%);
}
.square-image-V {
    width: 115%; 
    height: auto; 
    border-radius: 10px;
    position: relative; 
    top: 27px; 
    left: -31px;
    clip-path: inset(0 20% 0 20%);
}
.square-image-W {
    width: 115%; 
    height: auto; 
    border-radius: 10px;
    position: relative; 
    top: 27px; 
    left: -31px;
    clip-path: inset(0 20% 0 20%);
}
.square-image-X {
    width: 115%; 
    height: auto; 
    border-radius: 10px;
    position: relative; 
    top: 27px; 
    left: -31px;
    clip-path: inset(0 20% 0 20%);
}
.square-image-Y {
    width: 115%; 
    height: auto; 
    border-radius: 10px;
    position: relative; 
    top: 27px; 
    left: -31px;
    clip-path: inset(0 20% 0 20%);
}
.square-image-Z {
    width: 115%; 
    height: auto; 
    border-radius: 10px;
    position: relative; 
    top: 27px; 
    left: -31px;
    clip-path: inset(0 20% 0 20%);
}
.square-image-Ñ {
    width: 115%; 
    height: auto; 
    border-radius: 10px;
    position: relative; 
    top: 27px; 
    left: -31px;
    clip-path: inset(0 20% 0 20%);
}