.header {
    background-color: #d1e8bf;
    text-align: center;
    border-bottom: 2px solid #d1e8bf;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    font-size: 45px;
    color: black;
}

.main-content {
    padding: 20px;
    text-align: center;
    position: relative; 
}

.video-rectangle {
    width: 1379px; 
    height: 675px; 
    background-color: #d1e8bf; 
    margin: 135px auto ; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-rectangle video {
    width: 95%;
    height: 97%;
    object-fit: cover; 
}

.letter-title {
    position: absolute; 
    top: 43px; 
    left: 88px; 
    font-size: 52px; 
    color: black; 
}

.button-container {
    position: absolute;
    top: 110px;
    right: 50px;
    display: flex;
    gap: 10px;
}

.nav-button {
    padding: 10px 20px;
    font-size: 20px;
    background-color: #d1e8bf;
    border: 2px solid #5e6938;
    border-radius: 10px;
    cursor: pointer;
}

.nav-button:hover {
    background-color: #a5b95d;
}

.footer {
    background-color: #d1e8bf;
    padding: 10px;
    text-align: center;
}

.footer-text {
    font-size: 18px;
    color: black;
    margin: 0;
}

.word-title{
    position: absolute;
    top: 6%;
    left: 10%;
    transform: translateX(-50%);
    font-size: 48px;
    color: rgb(0, 0, 0);
}

.video-message{
    position: absolute;
    top: 73%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 35px;
    color: #ffffff;
}